# Basic configuration
#
# Default:
# lb-address = "127.0.0.1:8080"
#
# Default:
# lb-log-file = ""
#
#
# API
#
# Default:
# api-address = "127.0.0.1:9090"
#
# Default:
# api-login = "lb"
#
# Default:
# api-password = "7eNQ4iWLgDw4Q6w"
#
#
# WEB
#
# Default:
# web-address = "127.0.0.1:9191"
#
# Default:
# web-login = "admin"
#
# Default:
# web-password = "7eNQ4iWLgDw4Q6w"
#
#
# Default instances under Load Balancer
#
# [Servers]
#   [Servers.web-1]
#   url = "http://127.0.0.1:8081"
#   weight = 1
#   type = "down"          # standard/mirror/backup/down; default: standard
#
#   [Servers.web-2]
#   url = "http://127.0.0.1:8082"
#   weight = 1
#
# Default:
# [Servers]
#
# Failover Predicates
#
# IsNetworkError()         # failover on network error
# Attempts() <= 1          # allows only 1 failover attempt
# RequestMethod() == "GET" # failover for GET requests only
# ResponseCode() == 408    # failover on 408 HTTP response code
#
# Default:
# stream-retry-conditions = "IsNetworkError() && Attempts() < 10"


# Monitoring
#
# Enable monitoring
#
# Default:
# monitor-broken-backend = false
#
# Remove broken backend
#
# Default:
# remove-broken-backends = true
#
# Time to check (in sec)
#
# Default:
# check-period = 1
#
# Max fails
# Sets the number of unsuccessful attempts to communicate with the server
# that should happen in the duration set by the fail-timeout parameter
# to consider the server unavailable for a duration also set by the
# fail-timeout parameter. By default, the number of unsuccessful attempts
# is set to 1.
#
# Default:
# max-fails = 1
#
# Fail timeout (in sec)
# Sets the time during which the specified number of unsuccessful attempts
# to communicate with the server should happen to consider the server
# unavailable; and the period of time the server will be considered unavailable
#
# Default:
# fail-timeout = 10
#
#
# Hooks
#
# Call script after removing backend
#
# Default:
# bash-script = ""
#
# Call Url after removing backend
#
# Default:
# web-url = ""


# Rebalancer
#
# Rebalancer will readjust load balancer weights based on error ratios
#
# Default:
# enable-rebalancer = false


# Connection Limits
#
# Connection limits control the amount of simultaneous connections per backend.
#
# Default:
# enable-connlimit = false
#
# Default:
# connlimit-connections = 10
#
# Default:
# connlimit-variable = "client.ip" // 'client.ip' or 'request.header.X-My-Header'


# Rate Limits
#
# Rate controls how many requests per period of time is allowed for a location.
#
# Default:
# enable-ratelimit = false
#
# Allowed average requests
# Default:
# ratelimit-requests = 1
#
# Period in seconds, e.g. 3600 to set up hourly rates
# Default:
# ratelimit-period-seconds = 1
#
# Default:
# Burst count, allowed some extra variance for requests exceeding the average rate
# ratelimit-burst = 3
#
# Variable defines how the limiting should be done. e.g. 'client.ip' or 'request.header.X-My-Header'
# Default:
# ratelimit-variable = "client.ip" // 'client.ip' or 'request.header.X-My-Header'


# Tracing
#
# Defaults:
# enable-trace = false
# trace-file = "/tmp/lb.trace.log"


# Statistics
#
# Default:
# statistics-enabled = true


# Mirroring
#
# Defaults:
# enable-mirroring = true
# mirror-http-methods = "GET|HEAD"
